<app-header></app-header>

<!-- Hero Carousel Component -->
<app-hero-carousel></app-hero-carousel>

<!-- Componente de ubicaciones -->
<app-ubicaciones-section></app-ubicaciones-section>

<!-- Componente Equipo Kawasaki -->
<app-equipokawa-section></app-equipokawa-section>

<!-- Componente Taller -->
<app-taller-section></app-taller-section>

<!-- Componente KDay -->
<app-kday-section></app-kday-section>

<!-- Componente Foto 360 -->
<app-foto360-section></app-foto360-section>

<!-- Componente Modelos -->
<app-modelos-section></app-modelos-section>

<!-- Componente Redes Sociales -->
<app-redes-sociales-section></app-redes-sociales-section>

<app-footer></app-footer>